* {
	box-sizing: border-box;
}

body {
	/* background: #FAEBD7 url('../images/vintage-concrete.png'); */
	font-family: 'Brother 1816', sans-serif;
	color: #333333;
	background-color: #ebebeb;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: #b40303; }

header, nav, main, footer, img {
	width: 60%;
	margin: auto;
}


/* Header styles */
header { 
	min-height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;

}


header h1 {
	padding: 60px 40px;
	text-align: center;
	font-family: brother-1816, sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 48px;
	color: #333333;
}

img {
	min-width: 300px;
	max-width:400px;
	display: flex-end;
 }

/* Nav styles */
nav { background-color:#333333; }
nav ul { 
	display: flex;
	justify-content: flex-end;
}
nav li { 
	padding: 10px 30px; 
	font-family: brother-1816, sans-serif;
	font-weight: 800;
	font-style: normal;
}
nav a { color: white; }
nav a:hover { color: #b40303; }


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}
h2 {
	font-family: brother-1816, sans-serif;
	font-weight: 900;
	font-style: normal;

}
section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	background-color: #333333;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }
