@import url("https://use.typekit.net/lxp1wlv.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* FONTS */
@font-face {
  font-family: "bluunext-bold";
  src: url("/assets/bluunext-bold.ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "bluunext-bold-italic";
  src: url("/assets/bluunext-bolditalic.ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

html {
  background-color: #F0F0EE;
  width: 100%;
}

body {
  width: 90vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.navigation {
  z-index: 99;
  width: 100%;
  height: 70px;
  background-color: #F0F0EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-link {
  font-family: 'bluunext-bold';
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4em;
  text-decoration: none;
  color: #212220;
}

.nav-links {
  list-style-type: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-column-gap: 3.5vw;
          column-gap: 3.5vw;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.05em;
}

.nav-links a {
  color: #212220;
}

/* FOOTER */
footer {
  width: 100%;
  height: 70px;
  background-color: #F0F0EE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-column-gap: 3.5vw;
          column-gap: 3.5vw;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.05em;
}

/* CONTACT PAGE */
.contact {
  width: 100%;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-text {
  font-family: "bluunext-bold";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 250px;
  line-height: 230px;
}

.contact-indent {
  margin-left: 20vw;
}

.email-link {
  width: 100%;
  font-family: "bluunext-bold";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 80px;
}

.email-link a {
  text-decoration: underline;
  color: #212220;
}

.email-link a:hover {
  color: #516141;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

/* PROJECT LIST - HOME PAGE */
.project-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  row-gap: 20px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-number {
  font-family: "bluunext-bold";
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #A5A39C;
  margin-right: 3vw;
}

.project-title {
  font-family: "bluunext-bold";
  src: url("/assets/bluunext-bold.ttf");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  color: #212220;
  font-size: 70px;
  margin-right: 3vw;
  z-index: 1;
}

.project-title-detail {
  font-family: 'futura-pt', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  color: #212220;
  margin-right: 1vw;
}

.arrow {
  fill: #212220;
  height: 10px;
  width: 10px;
}

/* IMAGE PREVIEW (ON HOVER) */
/* CONSTRUCTION */
.construction-page-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "bluunext-bold";
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
}

.construction-page-container p {
  margin-bottom: 40px;
}

/* LINK LETTER ROLL */
.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letter-wrap {
  display: inline-block;
  position: relative;
}

.letter-wrap * {
  pointer-events: none;
}

.letter-wrap__word {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.letter-wrap__char {
  display: inline-block;
  position: relative;
  text-transform: none;
}

.letter-wrap__char-inner {
  display: inline-block;
}

.letter-wrap__char-inner:after {
  content: attr(data-letter);
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--secondary-clr);
}

/* CURSOR */
.cursor {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cursor.active {
  opacity: 0.5;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cursor.hovered {
  opacity: 0.08;
}

.cursor-follower {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.cursor-follower.active {
  opacity: 0.7;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.cursor-follower.hovered {
  opacity: 0.08;
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: #212220;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 1px #212220;
          box-shadow: 0 0 0 1px #212220;
  pointer-events: none;
  -webkit-transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}

@media only screen and (max-width: 800px) {
  .contact-text {
    font-size: 100px;
    line-height: 90px;
  }
  .contact-indent {
    margin-left: 0;
  }
  .email-link {
    font-size: 27px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 50px;
  }
  .footer-text {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */