
* {box-sizing: border-box; margin: 0; padding: 0;}
img {width: 100%;}
a {
    text-decoration: none;
}

$color-bg: #F0F0EE;
$color-text: #212220;
$color-text-grey: #A5A39C;
$color-text-green: #516141;
$main-w: 90vw;

 /* FONTS */

@import url("https://use.typekit.net/lxp1wlv.css");

@font-face {
    font-family: "bluunext-bold";
    src: url("/assets/bluunext-bold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
} 

@font-face {
    font-family: "bluunext-bold-italic";
    src: url("/assets/bluunext-bolditalic.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
} 

html {
    background-color: $color-bg;
    width: 100%;
}

body {
    width: $main-w;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navigation {
    z-index: 99;
    width: 100%;
    height: 70px;
    background-color: $color-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-link {
    font-family: 'bluunext-bold';
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em;
    text-decoration: none;
    color: $color-text;
}

.nav-links {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3.5vw;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;     
    text-transform: uppercase;
    font-size: 1.05em;
}

.nav-links a {
    color: $color-text;
}

/* FOOTER */
footer {
    width: 100%;
    height: 70px;
    background-color: $color-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.credits {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3.5vw;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;     
    text-transform: uppercase;
    font-size: 1.05em;
}

/* CONTACT PAGE */

.contact {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.contact-text {
    font-family: "bluunext-bold";
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 250px;
    line-height: 230px;
}

.contact-indent {
    margin-left: 20vw;
}

.email-link {
    width: 100%;
    font-family: "bluunext-bold";
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.email-link a {
    text-decoration: underline;
    color: $color-text;
}

.email-link a:hover {
    color: $color-text-green;
    transition-duration: .5s;
}

/* PROJECT LIST - HOME PAGE */

.project-list {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

.project {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.project-number {
    font-family: "bluunext-bold";
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    color: $color-text-grey;
    margin-right: 3vw;
}

.project-title {
    font-family: "bluunext-bold";
    src: url("/assets/bluunext-bold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    color: $color-text;
    font-size: 70px;
    margin-right: 3vw;
    z-index: 1;
}

.project-title-detail {
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: $color-text;
    margin-right: 1vw;
}

.arrow {
    fill: $color-text;
    height: 10px;
    width: 10px;
}

/* IMAGE PREVIEW (ON HOVER) */

// .link {
//     z-index: 1;
//     transition: color 275ms ease;
//     &:hover {
//       color: $black;
//       ~ .hover-container {
//         .image-container {
//           opacity: 1;
//         }
//       }
//     }
//   }
  
//   .image-container {
//     z-index: -2;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 150px;
//     height: 150px;
//     opacity: 0;
//     transition: opacity 250ms ease;
//   }
  
//   .image-inner {
//     position: absolute;
//     top: -75px;
//     left: -75px;
//     width: 150px;
//     height: 150px;
//   }
  
//   .link-image {
//     display: block;
//     max-width: 100%;
//     width: 150px;
//     height: 150px;
//     object-fit: cover;
//     object-position: center;
//   }

/* CONSTRUCTION */

.construction-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: "bluunext-bold";
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.construction-page-container p {
    margin-bottom: 40px;
}

/* LINK LETTER ROLL */
  .grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .letter-wrap {
    display: inline-block;
    position: relative;
  }
  
  .letter-wrap * {
    pointer-events: none;
  }
  
  .letter-wrap__word {
    display: inline-flex;
    position: relative;
    overflow: hidden;
  }
  
  .letter-wrap__char {
    display: inline-block;
    position: relative;
    text-transform: none;
  }
  .letter-wrap__char-inner {
    display: inline-block;
  }
  
  .letter-wrap__char-inner:after {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--secondary-clr);
  }

  /* CURSOR */

  .cursor {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);

    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hovered {
        opacity: 0.08;
    }
}

.cursor-follower {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);

    &.active {
        opacity: 0.7;
        transform: scale(3);
    }

    &.hovered {
        opacity: 0.08;
    }
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: $color-text;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px $color-text;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}







@media only screen and (max-width: 800px) { 

    .contact-text {
        font-size: 100px;
        line-height: 90px;
    }

    .contact-indent {
        margin-left: 0;
    }

    .email-link {
        font-size: 27px;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .footer-text {
        display: none;
    }
}