
* {box-sizing: border-box; margin: 0; padding: 0;}
img {width: 100%;}
a {
    text-decoration: none;
}

[data-entrance] { visibility: hidden; }
// .js [data-entrance] { visibility: hidden; }

$color-bg: #F0F0EE;
$color-text: #212220;
$color-text-grey: #A5A39C;
$color-text-green: #516141;
$main-w: 85vw;
$main-w-margin: (100vw - 85vw)/2;

 /* FONTS */

@import url("https://use.typekit.net/lxp1wlv.css");

@font-face {
    font-family: "bluunext-bold";
    src: url("/assets/bluunext-bold.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
} 

@font-face {
    font-family: "bluunext-bold-italic";
    src: url("/assets/bluunext-bolditalic.ttf");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
} 

 /* ANIMATIONS */

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
     }
     100% {
        opacity: 1;
        transform: translateY(0);
     }
}

// @keyframes fadeInUp {
//     0% {
//         opacity: 0;
//         transform: translateY(100px);
//      }
//      100% {
//         opacity: 1;
//         transform: translateY(0);
//      }
// }

// @keyframes fadeInLeft {
//     0% {
//        opacity: 0;
//        transform: translateX(-200px);
//     }
//     100% {
//        opacity: 1;
//        transform: translateX(0);
//     }
//  }  
 
 .loading-screen {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    background-color: $color-text;
    width: 0%;
    height: 100%;
}

.load-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
}

html, body {
    background-color: $color-bg;
    width: 100%;
    margin: 0;
    padding: 0;
}

// body {
//     width: 100vw;
//     display: flex;
//     flex-flow: column nowrap;
//     justify-content: flex-start;
//     align-items: center;
//     overflow-x: hidden;
// }

main {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    overflow-x: hidden;
}

 /* NAVIGATION*/

.navigation {
    z-index: 99;
    width: $main-w;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInDown;
    animation-duration: 1.5s;
}

.home-link {
    z-index: 99;
    font-family: 'bluunext-bold';
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-text;
}

.nav-links {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3.5vw;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;     
    text-transform: uppercase;
    font-size: 1.05rem;
}

.nav-links a {
    color: $color-text;
}

#proj-nav-multiply {
    color: $color-bg;
}

.nav-proj {
    margin-bottom: -70px;
}

/* HELLO WORLD */

.hidden {
    opacity:0;
  }

  .console-container {
    font-family: "bluunext-bold";
    font-weight: 700;
    font-size:4em;
    width: 100%;
    height: 100vh;
    color: $color-text-grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    margin-top: -10vh;
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }


/* ABOUT ME */

.about-me {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    // padding: 30vh 0 30vh 0;
    // opacity: 0;
    // transition: all 500ms ease-in-out;

    .about__subhead {
        font-family: 'futura-pt', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
        color: $color-text;
        margin-bottom: 15px;
    }

    .about__intro {
        font-family: "bluunext-bold";
        font-weight: 600;
        font-style: normal;
        color: $color-text;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 70px;
        max-width: 1000px;

        .about__span1 {
            color: $color-text-grey;
            text-decoration: line-through;
        }

        .about__span2 {
            color: $color-text-grey;
            font-family: "bluunext-bold-italic";
        }
    }

    .button__view-work {
        font-family: 'futura-pt', sans-serif;
        font-weight: 500;
        font-size: .8rem;
        background-color: $color-bg;
        color: $color-text;
        border: solid 1px $color-text-grey;
        text-align: center;
        text-decoration: none;
        padding: 15px 100px;
        margin-bottom: 50px;


        &:hover {
            background-color: $color-text;
            color: $color-bg;
            transition-duration: 500ms;
            border: $color-text;
        }

        &:hover ~ .about__arrow {
            opacity: 1;
            // animation: fadeInDown;
            // animation-duration: .5s;
        }
    }

    .about__arrow {
        opacity: 0;
        transform: rotate(90deg);
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        fill: $color-text;
        
    }

}

// .about-me__animate {
//     opacity: 1;
//     animation: fadeInUp 500ms linear;
// }


/* PROJECT LIST - HOME PAGE */

.project {
    width: $main-w;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
    padding: 10vh 0;
    
}

.project-list {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    
    .list {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        border-bottom: $color-text-grey solid 1px;

    }

    .li__item {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .project-number {
            font-family: "bluunext-bold";
            font-weight: 600;
            font-style: normal;
            font-size: 1.25rem;
            color: $color-text-grey;
            margin-right: 3vw;
        }
    
        .project-title {
            font-family: "bluunext-bold";
            color: $color-text;
            font-size: 4.375rem;
            margin-right: 3vw;
        }

        
        &:hover ~ .li__hover {
            opacity: 1;
            animation: fadeInLeft; 
            animation-duration: 0.7s;
        }
    }

    .li__last-item {
        border-bottom: none;
    }
    
    .li__hover {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-family: 'futura-pt', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.375rem;
        color: $color-text;
        white-space: nowrap;
        margin-right: 1vw;
        opacity: 0;
        transition-duration: .2s;
    }

    .li__arrow {
        margin-left: 2vw;
        width: 30px;
        min-width: 30px;
        height: 30px;
        min-height: 30px;
        fill: $color-text;
    }
}


.project-list__animation {
        opacity: 1;
        animation: fadeInLeft;
        animation-duration: 2s;

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              animation-delay: 150ms * $i;
            }
        }
}

/* CONTACT */

.contact-container {
    width: $main-w;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    .contact-text {
        font-family: 'futura-pt', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1rem;
        color: $color-text;
        margin-bottom: 30px;
    }

    .email-link {
        text-decoration: underline;
        color: $color-text;
        font-family: "bluunext-bold";
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
    }
}

/* FOOTER */

footer {
    width: $main-w;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
    animation: fadeInUp;
    animation-duration: 1.5s;
}

.credits {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 3.5vw;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;     
    text-transform: uppercase;
    font-size: 1.05em;
}


// HEADER
.header-img {
    width: 100vw;
}

.project-info {
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
    margin-right: auto;
}

// TYPE STYLES
 h3 {
    font-family: "bluunext-bold";
    color: $color-text-grey;
    opacity: .3;
    font-size: 8rem;
    margin-left: -27px;
    position: relative;
 }

 h1 {
    font-family: "bluunext-bold";
    z-index: 99;
    color: $color-text;
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: -140px;
 }

 h1#rxh1 {
    margin-left: -143px;
 }

h1#dreamh1 {
    margin-left: -115px;
}

h1#renth3 {
    margin-left: -135px;
}

 h2 {
    font-family: 'futura-pt', sans-serif;
    font-weight: 00;
    font-style: normal;
    font-size: 1rem;
    color: $color-text;
    margin-right: 40px;
 }

.proj-p {
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: $color-text;
    margin-right: 60px;
 }

 .disclaimer-text {
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: $color-text;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }
 

// CONTAINER FORMAT

.project-title-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    justify-content: space-between;

    .title-line {
        height: 11px;
        width: 90%;
        border-bottom: 1px $color-text-grey solid;
    }
}

.project-details-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;

    .info {
        display: flex;
    }
}

.project-summary-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 30px;

    .summary {
        width: 65%;
        max-width: 700px;
    }
}

.project-images {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.next-project {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    // white-space: nowrap;
    width: 100%;
    margin: 30px 0;
    justify-content: center;

    .next-subhead {
        font-family: 'futura-pt', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        color: $color-text;
    }

    .next-title a {
        font-family: "bluunext-bold";
        font-weight: 600;
        font-style: normal;
        color: $color-text;
        font-size: 4rem;
        text-align: center;
    }
    
}

.button__view-prototype {
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    background-color: $color-bg;
    color: $color-text;
    border: solid 1px $color-text-grey;
    text-align: center;
    text-decoration: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;


    &:hover {
        background-color: $color-text;
        color: $color-bg;
        transition-duration: 500ms;

    }
}



@media only screen and (max-width: 600px) {

    h3 {
        font-size: 6rem;
    }

    h1 {
        font-size: 1.6rem;
        margin-left: -100px;
    }

    h1#rxh1 {
        margin-left: -100px;
     }

     h1#dreamh1 {
        margin-left: -80px;
     }
    
     h1#renth3 {
        margin-left: -95px;
     }
  
    h2 {
        margin-bottom: 10px;
    }

    .project-title-container .title-line {
        visibility: hidden;
    }
    .project-info .project-details-container {
        justify-content: flex-start;
        flex-flow: column;
        // width: 100%;
        margin-bottom: 0;
    }

    .project-info .project-details-container .info {
        flex-flow: column;
        margin-bottom: 40px;
    }

    .project-info .project-summary-container {
        flex-flow: column;

    }

    .project-info .project-summary-container .summary {
        width: 100%;
    }

    .button__view-prototype {
        margin-top: 40px;
    }
    
}


// ----------------------------------------------------------- // 


/* LINK LETTER ROLL */

  .grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .letter-wrap {
    display: inline-block;
    position: relative;
  }
  
  .letter-wrap * {
    pointer-events: none;
  }
  
  .letter-wrap__word {
    display: inline-flex;
    position: relative;
    overflow: hidden;
  }
  
  .letter-wrap__char {
    display: inline-block;
    position: relative;
    text-transform: none;
  }
  .letter-wrap__char-inner {
    display: inline-block;
  }
  
  .letter-wrap__char-inner:after {
    content: attr(data-letter);
    position: absolute;
    top: 100%;
    left: 0;
    color: var(--secondary-clr);
  }

  /* CURSOR */

  .cursor {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);

    &.active {
        opacity: 0.5;
        transform: scale(0);
    }

    &.hovered {
        opacity: 0.08;
    }
}

.cursor-follower {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(5px, 5px);

    &.active {
        opacity: 0.7;
        transform: scale(3);
    }

    &.hovered {
        opacity: 0.08;
    }
}

#cursor {
  position: fixed;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: $color-text;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 50px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  box-shadow: 0 0 0 1px $color-text;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}


/* TABLETS */

@media only screen and (max-width: 1080px) { 


    .about-me .about__intro {
        font-size: 2rem;
    }

    .contact-container .email-link {
        margin-top: -30px;
    }

    .contact-text {
        font-size: 100px;
        line-height: 90px;
    }

    .contact-indent {
        margin-left: 0;
    }

    .email-link {
        font-size: 27px;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .footer-text {
        display: none;
    }

    /* WORK SECTION */

    .project-list .li__item .project-title {
        font-size: 2.5rem;
    }

    .project-list .li__item .project-number {
        font-size: 1rem;
    }

    .project-list .li__hover {
        font-size: 1rem;
        opacity: 1;

        .li__arrow {
            width: 20px;
             min-width: 20px;
             height: 20px;
             min-height: 20px;
        }
    }
}

/* PHONE */

@media only screen and (max-width: 600px) { 
    
    // HELLO WORLD

    .console-container {
        font-size:2.5rem;
      }


    .about-me .about__intro {
        font-size: 1.5rem;
    }

    .contact-container .email-link {
        font-size: 1.5rem;
    }
      
    // PROJECT  LIST
    .project-list .li__item .project-title {
        font-size: 1.5rem;
    }

    .project-list .li__item .project-number {
        font-size: .75rem;
    }

    .project-list .li__hover {
        .project-title-detail {
            display: none;
        }
        .li__arrow {
            width: 15px;
             min-width: 15px;
             height: 15px;
             min-height: 15px;
        }
    }
    
}